* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

#assignments {
  padding: 50px;
}

#assignments h1 {
  font-size: 2.5em;
}

#assignments p {
  font-size: 1.3em;
  margin-top: 30px;
}

#assignments .tbody {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 30px;
}

#assignments table {
  border-collapse: collapse;
  border: 1px solid;
  text-align: left;
  width: 100%;
  overflow-x: auto;
  overflow: hidden;
}

#assignments th,
#assignments td {
  border: 1px solid;
  padding: 20px;
}
#assignments th {
  border-bottom: 2px solid;
}
