* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #2f2e2e;
}

#navbar {
  width: 100%;
  height: 45px;
  background-color: #2f2e2e;
  padding: auto;
  padding-top: 20px;
  z-index: 3;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar-links {
  display: flex;
  justify-content: center;
  /* margin-left: 200px; */
  list-style: none;
}

.navbar-link a,
.navbar-title a {
  text-decoration: none;
  color: #fff;
  line-height: 24px;
  font-size: 0.96em;
  font-weight: 100;
}

.navbar-link a:hover {
  color: #e6e6e694;
}

.navbar-link {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.checkbtn img {
  width: 34px;
  height: 34px;
}

#content {
  padding: 50px 50px 100px;
  background-color: white;
}

#check {
  display: none;
}

#content h1 {
  padding: 20px 0px;
  font-size: 3em;
  font-style: bold;
}

#content hr {
  margin-bottom: 20px;
}

#content a:link,
#content a:visited {
  color: #666666;
}

#content a:hover {
  color: #aaaaaa;
}

#content a:active {
  color: #dddddd;
}

div .image {
  margin-top: 5px;
  overflow-x: auto;
  white-space: nowrap;
}

#content img {
  overflow: hidden;
  display: block;
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

footer {
  height: auto;
  background-color: #2f2e2e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  margin-top: auto;
}

footer a:link,
footer a:visited {
  color: #666666;
}

footer a:hover {
  color: #aaaaaa;
}

footer a:active {
  color: #dddddd;
}

.contact li {
  margin-bottom: 5px;
  list-style-type: none;
}

.contact h4 {
  margin-bottom: 10px;
}

.copyright {
  text-align: right;
  align-self: flex-end;
}

.copyright p {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  #content h6 {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-style: bold;
  }
}

p .info {
  padding-left: 10px;
  padding-bottom: 10px;
}

td,
th {
  padding: 30px;
}

@media screen and (max-width: 900px) {

  #content {
    padding: 20px 20px 100px;
  }

  footer {
    flex-direction: column;
  }

  .copyright {
    margin-top: 20px;
    text-align: left;
    align-self: flex-start;
  }
}

@media screen and (max-width: 1250px) {
  .checkbtn {
    display: block;
    align-self: flex-end;
    z-index: 5;
  }

  .navbar-title {
    top: 20px;
    align-self: flex-start;
    z-index: 5;
    margin-left: 30px;
  }


  #navbar {
    /* flex-direction: column; */
    justify-content: space-between;
  }

  #content h6 {
    padding: 20px;
    padding-bottom: 20px;
    font-size: 3em;
    font-style: bold;
  }

  @media screen and (max-width: 600px) {
    #content h6 {
      padding: 10px;
      padding-bottom: 5px;
      font-size: 1.5em;
      font-style: bold;
    }

    #content img {
      width: 800px;
    }
  }

  p.info {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .navbar-links {
    flex-direction: column;
    position: fixed;
    gap: 10px;
    width: 100%;
    height: 50vh;
    background-color: #2f2e2e;
    top: -100%;
    transition: all 0.6s;
    align-items: center;
  }

  #check:checked~.navbar-links {
    top: 60px;
  }
}