body {
    font-family: "Source Sans Pro", sans-serif;
}

#content {
    padding: 50px
}

#content h1 {
    font-size: 2.5em;
}

#content a:link,
#content a:visited{
    color: #666666;
}
#content a:hover{
  color: #AAAAAA;
}

.professor h2 {
    padding-bottom: 0px;
    margin-bottom: 5px;
  }

.professor img {
    margin-left: 1%;
    width: 250px;
    height: auto;
    object-fit: cover;
    object-position: top;
}

#content .ta h2 {
    margin-top: 50px;
    margin-bottom: 5px
}

#content .tbody {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#content table {
    border-collapse: collapse;
    border: 1px solid;
    text-align: left;
    width: 100%;
    overflow-x:auto;
    overflow: hidden;
}

#content th,
#content td {
    border: 1px solid;
    padding: 20px;
}

#content th {
    border-bottom: 2px solid;
}

@media screen and (max-width: 900px) {
    #content {
        padding: 10px;
    }
    #content th,
    #content td {
    padding: 20px 10px;
}
}