* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #2f2e2e;
}

#navbar {
  width: 100%;
  height: 45px;
  background-color: #2f2e2e;
  padding: auto;
  padding-top: 20px;
  z-index: 3;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar-links {
  display: flex;
  justify-content: center;
  /* margin-left: 200px; */
  list-style: none;
}

.navbar-link a,
.navbar-title a {
  text-decoration: none;
  color: #fff;
  line-height: 24px;
  font-size: 0.96em;
  font-weight: 100;
}

.navbar-link a:hover {
  color: #e6e6e694;
}

.navbar-link {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.checkbtn img {
  width: 34px;
  height: 34px;
}
#check {
  display: none;
}

#content {
  padding: 50px 50px 100px;
  background-color: white;
}

#content h1 {
  font-size: 2.5em;
  margin-bottom: 0px;
}

#content h2 {
  font-size: 1.3em;
  padding: 20px 0%;
}

.online-resources ul {
  padding-left: 15px;
  list-style-type: none;
}

.online-resources li {
  padding-top: 12px;
  padding-bottom: 12px;
}

#content a:link,
#content a:visited {
  color: #666666;
}

#content a:hover {
  color: #aaaaaa;
}

#content a:active {
  color: #dddddd;
}

.mathlab {
  margin-top: 20px;
}

.mathlab p {
  padding: 10px 0%;
}

.mathlab .email,
.mathlab .password {
  margin-left: 75px;
}

.mathlab .windows {
  margin-top: 30px;
}

.mathlab span {
  text-decoration: underline;
  font-weight: bold;
}

footer {
  height: auto;
  background-color: #2f2e2e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  margin-top: auto;
}

footer a:link,
footer a:visited {
  color: #666666;
}

footer a:hover {
  color: #aaaaaa;
}

footer a:active {
  color: #dddddd;
}

.contact li {
  margin-bottom: 5px;
  list-style-type: none;
}

.contact h4 {
  margin-bottom: 10px;
}

.copyright {
  text-align: right;
  align-self: flex-end;
}

.copyright p {
  margin-top: 10px;
}

@media (max-width: 1250px) {
  .checkbtn {
    display: block;
    align-self: flex-end;
    z-index: 5;
  }

  .navbar-title {
    top: 20px;
    align-self: flex-start;
    z-index: 5;
    margin-left: 30px;
  }

  #navbar {
    /* flex-direction: column; */
    justify-content: space-between;
  }

  .navbar-links {
    flex-direction: column;
    position: fixed;
    gap: 10px;
    width: 100%;
    height: 50vh;
    background-color: #2f2e2e;
    top: -100%;
    transition: all 0.6s;
    align-items: center;
  }

  #check:checked ~ .navbar-links {
    top: 60px;
  }
}

@media screen and (max-width: 900px) {
  #content {
    padding: 12px;
  }

  .online-resources ul {
    padding-left: 5px;
    list-style-type: none;
  }

  .mathlab .email,
  .mathlab .password {
    margin-left: 25px;
  }

  footer {
    flex-direction: column;
  }

  .copyright {
    margin-top: 20px;
    text-align: left;
    align-self: flex-start;
  }
}
