* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#2f2e2e;
}

#navbar {
  width: 100%;
  height: 45px;
  background-color: #2f2e2e;
  padding: auto;
  padding-top: 20px;
  z-index: 3;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
}

.navbar-links {
  display: flex;
  justify-content: center;
  /* margin-left: 200px; */
  list-style: none;
}

.navbar-link a,
.navbar-title a {
  text-decoration: none;
  color: #fff;
  line-height: 24px;
  font-size: 0.96em;
  font-weight: 100;
}

.navbar-link a:hover {
  color: #e6e6e694;
}

.navbar-link {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.checkbtn img {
  width: 34px;
  height: 34px;
}

#check {
  display: none;
}

#content a:link,
#content {
    padding: 50px 50px 100px;
    background-color: white;
}

#content h1 {
  font-size: 2.5em;
}

#content h2 {
  margin-top: 30px;
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: 15px;
}

#content .tbody {
  overflow-x: auto;
  white-space: nowrap;
}

#content table {
  border-collapse: collapse;
  border: 1px solid;
  text-align: left;
  width: 100%;
  overflow-x: auto;
  overflow: hidden;
}

#content th,
#content td {
  border: 1px solid;
  padding: 20px;
}

#content th {
  border-bottom: 2px solid;
}

.extra-info {
  margin-top: 40px;
}

.extra-info p {
  padding: 10px 0%;
}

.extra-info li {
  padding: 5px;
  margin-left: 40px;
}

footer {
    height: auto;
    background-color: #2f2e2e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin-top: auto;
}

footer a:link,
footer a:visited {
  color: #666666;
}

footer a:hover {
  color: #aaaaaa;
}

footer a:active {
  color: #dddddd;
}

.contact li {
  margin-bottom: 5px;
  list-style-type: none;
}

.contact h4 {
  margin-bottom: 10px;
}

.copyright {
  text-align: right;
  align-self: flex-end;
}

.copyright p {
  margin-top: 10px;
}

@media (max-width: 1250px) {
  .checkbtn {
    display: block;
    align-self: flex-end;
    z-index: 5;
  }

  .navbar-title {
    top: 20px;
    align-self: flex-start;
    z-index: 5;
    margin-left: 30px;
  }

  #navbar {
    /* flex-direction: column; */
    justify-content: space-between;
  }

  .navbar-links {
    flex-direction: column;
    position: fixed;
    gap: 10px;
    width: 100%;
    height: 50vh;
    background-color: #2f2e2e;
    top: -100%;
    transition: all 0.6s;
    align-items: center;
  }

  #check:checked ~ .navbar-links {
    top: 60px;
  }
}

@media screen and (max-width: 900px) {
  #content {
    padding: 10px;
  }

  #content h1 {
    margin-top: 40px;
  }

  #content th,
  #content td {
    padding: 20px 7px;
  }

  footer {
    flex-direction: column;
  }

  .copyright {
    margin-top: 20px;
    text-align: left;
    align-self: flex-start;
  }
}
